<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Titre application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Application</ion-title>
    </ion-toolbar>
    <p>Articles :</p>
    <ul>
      <li *ngFor="let article of Articles" (click)="showDetails(article)">{{ article.nom }} - {{ article.prix }} €</li>
    </ul>
  </ion-header>
</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
