<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Détails de l'article : <br>
    Nom : {{ productDetails.nom }}<br>
    Prix : {{ productDetails.prix }}<br>
    Description : {{ productDetails.details }}
  </p>
</ion-content>
