<p>Le résultat de 5 + 10 est : {{ addition }}</p>
<p>Le résultat de {{ x }}*{{ y }} est {{ multiplication() }}</p>
<p>test works!</p>
<div>
    <input type="text" [(ngModel)]="myName">
</div>
<button [disabled]="!isLoggedIn">My button</button>
<button (click)="login()">Connexion en tant que {{ myName }}</button>
<p>{{ myName }} s'est connecté(e) le {{ connectedAt | date }}</p>

<!-- ngIf -->
<p>Liste protégée :</p>
<ul *ngIf="isLoggedIn; else notConnected">
    <li>Javascript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>Ionic</li>
</ul>

<ng-template #notConnected>
    <p>Vous ne pouvez pas voir la liste tant que vous n'êtes pas connecté(e).</p>
</ng-template>

<!-- ngFor -->
<!-- <p [ngStyle]="{color : getStatus()}">Autre liste :</p> -->
<p [ngClass]="{
    'color-red' : isLoggedIn === false,
    'color-green' : isLoggedIn === true
}">Autre liste :</p>
<ul>
    <li *ngFor="let list of myList">{{ list.name | uppercase }} - Disponibilité : {{ list.disponible }}</li>
</ul>

<!-- ngStyle -->
<!-- ngClass -->
<!-- [ngClass]="{'nom_de_class' : condition à vérifier, 'nom_de_class2' : condition à vérifier 2}"" -->

<!-- Pipes -->
<!-- {{ donnée | my_pipe }} : un seul pipe -->
<!-- {{ donnée | my_pipe1 : 'x' | my_pipe2 : 'x' : 'y' | my_pipe3 }} : plusieurs pipes avec paramètres -->
